{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .text-gray-700 {
        color: #fff;
    }
    #id_full_name, #id_email, #id_password1, #id_password2 {
        color: #333c4d;
    }
    input::placeholder {
        color: #333c4d;

    }
</style>
<div class="card w-100 bg-neutral text-neutral-content">
    <div class="card-body">
        <h1 class="title mb-10">Профиль</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form|crispy }}
            {{ resume_form|crispy }}
            <button class="btn btn-secondary mt-4">Обновить данные</button>
        </form>
        
    </div>
</div>


{% endblock %}