{% extends "base.html" %}
{% block content %}
<div class="card w-100 bg-neutral text-neutral-content">
  <div class="card-body">
      <h1 class="title mb-10">Мои запросы</h1>
      {% for request in requests %}
      {% if request.status == 'Подтверждено' %}
      <div class="card mb-5 w-100 bg-base-100 shadow-xl text-neutral-focus">
          <div class="card-body">
              <h3 style="font-size: 20px;">Вакансия: {{ request.job }}</h3>
              <p>Статус: <span class="badge badge-secondary">{{ request.status }}</span></p>
              <a href="{{ request.resume_url }}" class="btn btn-secondary">Резюме</a>
              <a href="{% url 'job-detail' request.job.id %}" class="btn btn-secondary">Подробнее</a>
          </div>
      </div>
      {% else %}
      <div class="card mb-5 w-100 bg-base-100 shadow-xl text-neutral-focus">
        <div class="card-body">
            <h3 style="font-size: 20px; font-weight: 700;">Вакансия: {{ request.job }}</h3>
            <a href="{% url 'job-detail' request.job.id %}" class="btn btn-secondary">Подробнее</a>

            <a href="{% url 'cancel-request' request.id %}" class="btn btn-error">Отменить запрос</a>
        </div>
    </div>
      {% endif %}
      {% endfor %}
  </div>
</div>

{% endblock %}