{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .text-gray-700 {
        color: #fff;
    }
    #id_full_name, #id_email, #id_password1, #id_password2 {
        color: #333c4d;
    }
    input::placeholder {
        color: #333c4d;

    }
</style>
<div class="card w-100 bg-neutral text-neutral-content">
    <div class="card-body">
        <h1 class="title mb-10">Регистрация пользователя</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="mt-5 mb-5 btn btn-secondary">Зарегистрироваться</button>
        </form>
        <p>Есть аккаунт? <a href="{% url 'login' %}" class="text-info">Войти в систему</a></p>
        <p>Вы работодатель? <a href="{% url 'employer-register' %}" class="text-info">Пройти регистрацию</a></p>
    </div>
</div>

{% endblock %}