{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}

<div class="card w-100 bg-neutral text-neutral-content">
  <div class="card-body">
      <h1 class="title">Свежие вакансии</h1>
      {% for job in jobs %}
      <div class="card mb-5 w-100 bg-base-100 shadow-xl text-neutral-focus">
          <div class="card-body">
              <div class="grid grid-cols-5 gap-1">
                  <div class="avatar">
                      <div class="w-24 mask mask-squircle">
                        <img src="{{ job.company.logo.url }}" />
                      </div>
                  </div>
                  <div class="col-span-3 job-description">
                      <h3>
                        <b>{{ job.title }} </b>
                        {% if job.created_date|naturalday == 'today' %}
                        <span class="text-secondary"><b>(Сегодня)</b></span>
                        {% elif job.created_date|naturalday == 'yesterday' %}
                        <span class="text-secondary"><b>(Вчера)</b></span>
                        {% else %}
                        <span class="text-secondary"><b>({{ job.created_date|naturaltime }})</b></span>
                        {% endif %}
                      </h3>
                      <h4 class="mb-3"><b>{{ job.company }}</b></h4>
                      <h4>Город: {{ job.location }}</h4>
                      <h4 class="mb-4">{{ job.get_cooperation_type_display }}</h4>
                      <a href="{% url 'job-detail' job.id %}" class="btn btn-secondary btn-sm">Подробнее</a>
                      <a href="{% url 'request-job' job.id %}" class="btn btn-secondary btn-sm">Откликнуться</a>
                      <a href="{% url 'save-job' job.id %}" class="btn btn-secondary btn-sm">В избранное</a>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

  

{% endblock %}