{% extends "base.html" %}
{% block content %}


<div class="card w-100 bg-neutral text-neutral-content">
  <div class="card-body">
      <div class="avatar">
          <div class="w-24 mask mask-squircle">
            <img src="{{ job.company.logo.url }}" />
          </div>
      </div>
      <h1 class="stitle">{{ job.company }}</h1>
      <p class="mb-5">Сайт: <a href="{{ job.company.link }}" target="_blank" class="text-info">{{ job.company.link }}</a></p>

      <h2 class="subtitle">{{ job.title }}</h2>
      <h2 class="subtitle">Заработная плата: {{ job.get_salary_display }}</h2>
      <p>Специализация: <span class="badge badge-secondary">{{ job.category }}</span></p>
      <p>Город: <span class="badge badge-secondary">{{ job.location }}</span></p>
      <p>Требуемый опыт работы: <span class="badge badge-secondary">{{ job.get_experience_display }}</span></p>
      <p>Занятость: <span class="badge badge-secondary">{{ job.get_cooperation_type_display }}</span></p>
      <h3 class="subtitle">О компании</h3>
      <p style="text-align: justify;">{{job.company.co_introduction}}</p>
      <h3 class="subtitle">Обязанности</h3>
      <p style="text-align: justify;">{{ job.job_description }}</p>
      <p>Требуемые навыки: <span class="badge badge-secondary">{{ job.skills_required }}</span></p>
      <p>Образование: <span class="badge badge-secondary">{{ job.get_degree_display }}</span></p> 
      <a href="{% url 'request-job' job.id %}" class="mt-5 btn btn-secondary">Откликнуться</a>
  </div>
</div>



{% endblock %}