{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .text-gray-700 {
        color: #fff;
    }
    #id_email, #id_password {
        color: #333c4d;
    }
    input::placeholder {
        color: #333c4d;

    }
</style>
<div class="card w-100 bg-neutral text-neutral-content">
    <div class="card-body">
        <h1 class="title mb-10">Вход в систему</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="mt-5 mb-5 btn btn-secondary">Войти</button>
        </form>
        <p>Вы ищите работу? <a href="{% url 'register' %}" class="text-info">Пройти регистрацию</a></p>
        <p>Вы работодатель? <a href="{% url 'employer-register' %}" class="text-info">Пройти регистрацию</a></p>
    </div>
</div>
{% endblock %}