{% extends "base.html" %}
{% block content %}

<div class="card w-100 bg-neutral text-neutral-content">
  <div class="card-body">
      <h1 class="title mb-10">Запросы</h1>
      {% for request in requests %}
      <div class="card mb-5 w-100 bg-base-100 shadow-xl text-neutral-focus">
          <div class="card-body">
              <h3 style="font-size: 20px; font-weight: 700;">ФИО: {{ request.jobseeker }}</h3>
              <h4>Вакансия: {{ request.job }}</h4>
              <a href="{% url 'job-detail' request.job.id%}" class="text-secondary">Ссылка на вакансию</a>

              <a href="{{ request.resume_url }}" target="_blank" class="btn btn-primary">Резюме</a>
              <a href="{% url 'accept-status' request.id %}" class="btn btn-secondary">Подтвердить</a>
              <a href="{% url 'delete-request' request.id %}" class="btn btn-error">Отклонить</a>
          </div>
      </div>
      {% endfor %}
      
      <h2 class="title">Проверенные запросы</h2>
      {% for request in accepted_requests %}
      <div class="card mb-5 w-100 bg-base-100 shadow-xl text-neutral-focus">
          <div class="card-body">
            <h3 style="font-size: 20px; font-weight: 700;">ФИО: {{ request.jobseeker }}</h3>
            <h4>Вакансия: {{ request.job }}</h4>
            <a href="{% url 'job-detail' request.job.id%}" class="text-secondary">Ссылка на вакансию</a>
            <a href="{{ request.resume_url }}" target="_blank" class="btn btn-primary">Резюме</a>

            <a href="{% url 'delete-request' request.id %}" class="btn btn-error">Удалить</a>
          </div>
      </div>
      {% endfor %}                        
  </div>
</div>
{% endblock %}