{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section border border-0 shadow p-3 bg-body rounded">
  <legend class="blue">Вакансии компании</legend>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Наименование вакансии</th>
        <th scope="col">Дата публикации</th>
        <th scope="col">Количество запросов</th>
        <th scope="col">Действие</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}             
        <tr>
          <td>{{job.title}}</td>
          {% if job.created_date|naturalday == 'today' %}
          <td>Сегодня</td>
          {% elif job.created_date|naturalday == 'yesterday' %}
          <td>Вчера</td>
          {% elif job.created_date|naturalday == 'tomorrow' %}
          <td>Завтра</td>
          {% else %}
          <td >{{ job.created_date|naturaltime }}</td>
          {% endif %}
          <td>{{ number }}</td>
          <td><a href="{% url 'delete-request' request.id %}" class="btn btn-danger">Отправить в архив</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}